version: '3.8'

services:
  evolution-api:
    image: atendai/evolution-api:v2.1.1
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SERVER_URL=${RAILWAY_STATIC_URL:-http://localhost:8080}
      - CORS_ORIGIN=*
      - AUTHENTICATION_TYPE=apikey
      - AUTHENTICATION_API_KEY=MiClaveSuperSeguraWebBoost123
      - LOG_LEVEL=ERROR,WARN,DEBUG,INFO,LOG,VERBOSE,DARK,FATAL
      
      # Opciones de base de datos (Usaremos la memoria interna SQLite por defecto para instalación rápida y barata)
      - DATABASE_PROVIDER=sqlite
      - DATABASE_CONNECTION_URI=sqlite://database.db
      - DATABASE_CONNECTION_CLIENT_NAME=sqlite3
    
    volumes:
      - evolution_instances:/evolution/instances
      - evolution_store:/evolution/store

volumes:
  evolution_instances:
  evolution_store:
